<link rel="stylesheet" href="/css/carrito.css">

<section class="cont_carrito">
    <span><h1>tu carrito</h1></span>
    <hr>
    {{#if cart_filtrado}}
        <span><p> <strong>id carrito</strong>: {{cart_filtrado.id}}</p></span>
        <span><p> <strong>user id</strong>: {{cart_filtrado.usuario}}</p></span>

        <div>
            <a href="/products"><button>regresar tienda</button></a>
            <a href="/"><button>regresar profile</button></a>
        </div>
        

        <hr>
        {{#if this.productos.length}}
            {{#each this.productos}}
                <br>
                <span><p> <strong>id producto</strong>: {{this.id_product._id}}</p></span>
                <span><p> <strong>quantity producto</strong>: {{this.quantity}}</p></span>
            {{/each}}
        {{else}}
            <span><p>No hay productos en el carrito.</p></span>
        {{/if}}
    {{else}}
        <span><p>No se encontró ningún carrito.</p></span>
    {{/if}}
</section>
